@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap');

#herosection {
    height: 100vh;
    position: relative;
    z-index: 1;
    margin-bottom: 200px;
}

h1, h4 {
    margin: 0;
}

.hero-container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40%;
    justify-content: space-between;
}

.hero-title {
    color: #00264d;
    text-align: center;
    margin: 0;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-delay: 2s;
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
    letter-spacing: 1px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.hero-hi {
    color: #262626;
    animation-delay: 1s;    
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

.hero-motto {
    font-size: 30px;
    text-align: center;
    color: #00264d;
}

.hero-icons-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.hero-icon {
    height: 60px;
    width: auto;
    transition: transform .4s;
}

.hero-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.break-one {
    display: none;
}

.break-two {
  margin: 15px 0px 15px;
  height: 1px;
  background: black;
  width: 30%;
  border: none;
}

.hero-subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .hero-container {
    height: 60%;
  }

  .hero-title {
    font-size: 7vh;
  }

  .hero-motto {
    font-size: 45px;
  }

  .hero-icon {
    height: 80px;
  }
}

@media only screen and (min-width : 992px) {
  .hero-container {
    height: 40%;
  }

  .hero-title {
    font-size: 10vh;
  }

  .hero-motto {
    font-size: 7vh;
  }

  .break-two {
    height: 3px;
    margin-bottom: 30px;
  }
}
