@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap');

#herosection {
    height: 100vh;
    position: relative;
    z-index: 1;
    margin-bottom: 200px;
    overflow: hidden;
}

h1, h4 {
    margin: 0;
}

.hero-container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
}

.rocket-icon {
  position: absolute;
  height: auto;
  width: 50%;
  bottom: 2%;
  right: -15%;
}

.code-icon {
  position: absolute;
  height: auto;
  width: 50%;
  top: 0%;
  left: -15%;
  transform: rotate(-30deg);
  margin: 0;
}

.gamecontroller-icon {
  position: absolute;
  height: auto;
  width: 50%;
  bottom: 2%;
  left: -15%;
  transform: rotate(-30deg);
}

.pizza-icon {
  position: absolute;
  height: auto;
  width: 50%;
  top: 0%;
  right: -15%;
  transform: rotate(30deg);
}

.hero-title {
    color: #00264d;
    text-align: center;
    margin: 0;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-delay: 2s;
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
    letter-spacing: 1px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.hero-hi {
    color: #262626;
    animation-delay: 1s;    
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

.hero-motto {
    font-size: 30px;
    text-align: center;
    color: #00264d;
    animation-delay: 2s;
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

.hero-icons-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.hero-icon {
    height: 60px;
    width: auto;
    transition: transform .4s;
}

.hero-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.break-one {
    display: none;
}

.break-two {
  margin: 15px 0px 15px;
  height: 1px;
  background: black;
  width: 30%;
  border: none;
}

.hero-subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .hero-container {
    height: 50%;
  }

  .hero-title {
    font-size: 7vh;
  }

  .hero-motto {
    font-size: 45px;
  }

  .rocket-icon {    
    bottom: 2%;
    right: -18%;
  }
  
  .code-icon {   
    top: -10%;
    left: -10%;    
  }
  
  .gamecontroller-icon {   
    bottom: 0%;
    left: -20%;    
  }
  
  .pizza-icon {    
    top: -10%;
    right: -10%;    
  }
}

@media only screen and (min-width : 992px) {
  .hero-container {
    height: 40%;
  }

  .hero-title {
    font-size: 10vh;
  }

  .hero-motto {
    font-size: 7vh;
  }

  .break-two {
    height: 3px;
    margin-bottom: 30px;
  }
  .rocket-icon {
    width: 25%;
    bottom: 2%;
    right: -5%;
  }  
  .code-icon {
    width: 25%;
    top: -10%;
    left: 5%; 
  }  
  .gamecontroller-icon { 
    width: 25%;
    bottom: 2%;
    left: -5%;   
  }  
  .pizza-icon {
    width: 25%;
    top: -10%;
    right: 10%; 
  }
}

@media only screen and (max-height: 770px) {
  .rocket-icon {
    width: 30%;
    bottom: 2%;
    right: -5%;
  }  
  .code-icon { 
    width: 30%;
    top: -10%;
    left: -5%;   
  }  
  .gamecontroller-icon {
    width: 30%;
    bottom: 2%;
    left: -5%;  
  }  
  .pizza-icon { 
    width: 30%;
    top: -10%;
    right: -5%;  
  }
}

@media only screen and (max-height: 770px) {
  .rocket-icon {
    width: 30%;
    bottom: 2%;
    right: -5%;
  }  
  .code-icon { 
    width: 30%;
    top: -10%;
    left: -5%;   
  }  
  .gamecontroller-icon {
    width: 30%;
    bottom: 2%;
    left: -5%;  
  }  
  .pizza-icon { 
    width: 30%;
    top: -10%;
    right: -5%;  
  }
}

@media only screen and (min-width: 350px) {
  .rocket-icon {    
    width: 20%;
    right: -5%;
  }  
  .code-icon {    
    width: 20%;
    top: 0%;
    left: 0%;
  }  
  .gamecontroller-icon {    
    width: 20%; 
    left: -5%;
  }  
  .pizza-icon {    
    width: 20%;
    top: 0%;
    right: 0%;
  }
}

@media only screen and (max-height: 350px) {
  .rocket-icon {    
    display: none;
  }  
  .code-icon {    
    display: none;
  }  
  .gamecontroller-icon {    
    display: none;
  }  
  .pizza-icon {    
    display: none;
  }
}
