@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

#portfoliosection {
    height: fit-content;
    position: relative;
    z-index: 1;
    margin-bottom: 300px;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: white;
    padding-bottom: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.portfolio-container.nightmode {
    background-color: #637081;
    background-image: linear-gradient(315deg, #637081 0%, #7c98b3 74%);
}

.portfolio-container-title {
    height: 50px;
    margin: 0;
    font-size: 30px;
    text-align: center;
    width: 100%;
    letter-spacing: 1px; 
    font-weight: normal; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-title-container-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-title-container {
    margin-bottom: 100px;
    background: #00264d;
    color: white;
    width: 100%;
}

.portfolio-container-subtitle {
    color: #c96464;
}

.job-container {
    padding: 10px 20px 10px;
    height: fit-content;
    width: 80%;
    border-radius: 7px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.job-container-title {
    font-size: 25px;
    margin: 10px 0px 0px;
    font-weight: bold;
}

.job-container-blurb {
    font-size: 20px;
    margin: 30px 0px 0px;
    font-family: 'Rubik', sans-serif;
}

.job-container-blurb.one {
    color: #0b275b;
    font-weight: bold;
}

.job-container-blurb.two {
    font-weight: bold;
    color: #001a00;
}

.job-container-title.two {
    margin-top: 0;
}

.job-container.one {
    border-left: 5px solid #5f91ec;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
}

.job-container.one.nightmode {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
}

.job-container.two {
    border-right: 5px solid green;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-container.two.nightmode {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
}

.job-container.three {
    border-left: 5px solid purple;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.geotab-logo {
    height: auto;
    width: 100%;
}

.appfabs-logo {
    height: auto;
    width: 25%;
}

.appfabs-description {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    margin-bottom: 10px;
}

.job-container-date {
    margin: 10px 0px 0px;
    color: #c96464;
}

.about-me-title-text.job-container-three {
    margin: 0;
}

.about-me-title.portfolio {
    margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
    #portfoliosection {
        height: fit-content;
        display: flex;
        justify-content: center;
        margin-bottom: 300px;
    }

    .portfolio-container {
        width: 80%;
        height: fit-content;
        padding-bottom: 100px;
        border-radius: 7px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    .job-container {
        height: 400px;
        transition: transform 0.2s;
    }

    .portfolio-container-title {
        font-size: 60px;
    }

    .portfolio-title-container {
        height: 80px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .job-container-title {
        font-size: 35px;
        margin: 10px 0px 0px;
        font-weight: bold;
    }
    
    .job-container-blurb {
        font-size: 30px;
        margin: 30px 0px 0px;
        font-family: 'Rubik', sans-serif;
    }
    
    .job-container-blurb.one {
        color: #0b275b;
        font-weight: bold;
    }
    
    .job-container-blurb.two {
        font-weight: bold;
        color: #001a00;
    }
    
    .job-container-title.two {
        margin-top: 0;
    }
    
    .job-container.one {
        border-left: 5px solid #5f91ec;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .job-container.one:hover {
        transform: translateX(10px);
    }
    
    .job-container.two {
        border-right: 5px solid green;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .job-container.two:hover {
        transform: translateX(-10px);
    }
    
    .job-container.three {
        border-left: 5px solid purple;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .geotab-logo {
        height: auto;
        width: 100%;
    }
    
    .appfabs-logo {
        height: auto;
        width: 40%;
    }
    
    .appfabs-description {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        background-color: #3bb78f;
        background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
        margin-bottom: 10px;
    }
    
    .job-container-date {
        font-size: 25px;
        margin: 10px 0px 0px;
        color: #c96464;
    }
    
    .about-me-title-text.job-container-three {
        margin: 0;
    }
}

@media only screen and (min-width : 992px) {
    #portfoliosection {
        height: fit-content;
        display: flex;
        justify-content: center;
        margin-bottom: 500px;
    }
    .portfolio-container {
        width: 60%;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    .appfabs-logo {
        height: auto;
        width: 30%;
    }
}
