html {
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden;
}

body {  
  background-image: url('./assets/background.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  margin: 0;
}
