html {
  scroll-behavior: smooth;
  margin: 0;
}

body {  
  background-image: url('./assets/background.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  html {
    overflow-x: hidden;
  }
}
